<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRenaultService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://expertise.dekra.ma/IDEXPreProd/RenaultService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRenaultService"
                contract="WCFRenaultService.IRenaultService" name="BasicHttpBinding_IRenaultService" />
        </client>
    </system.serviceModel>
</configuration>